
/* FUENTES */


@font-face {
  font-family: Montserrat;
  src: url(../rsc/fonts/Montserrat-Regular.ttf) format('truetype');
}


@font-face {
  font-family: Rubik;
  src: url(../rsc/fonts/RubikMonoOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  src: url(../rsc/fonts/Poppins-Regular.ttf) format('truetype');
}

/* VARIABLES */

:root{
	--font1: 'Montserrat';
}

:root{
	--font2: 'Poppins';
}

:root{
	--color1: silver;
}

:root{
	--color2: #e3e3e3;
}


/* CSS COMÚN */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

.preloader{
	position: fixed;
	width: 100%;
	height: 100vh;
	opacity: 1;
	z-index: 2;
	transition: 1s;
	background: white;
}
.preloader img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}




/* NAVIGATION & HEADER HP */

.hp-header {
	width: 100%;
	height: 100vh;
	background: var(--color1);
	background-size: cover;

}


nav, .nav-about {
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-content: center;
}


#name {
	width: 50%;
	height: 15vh;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 15px;
	font-family: var(--font2);
	transition: 0.2s;
}

#name h3{
	margin-left: 20px;
}

#name:hover{
	color: #af8d86;
	cursor: pointer;
}


.popup{
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-text{
	width: 400px;
	height: 300px;
	background: var(--color2);
	justify-content: center;
	line-height: 30px;
	padding-right: 25px; 
	padding-left: 25px; 
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.popup-exchange{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 5px;
	margin: 15px;
	font-size: 40px;
}

.menu-container{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: right;
	align-items: center;
	

}

.menu{
	width: 50%;
	border-bottom: 1px solid black;
	padding-bottom: 20px;

}

.menu ul li:hover {
	color: #10100f;
	font-weight: bold;
	
}

.menu ul li, .menu-about ul li{
	color: black;
	font-family: var(--font2);
	font-size: 20px;
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	transition: 0.2s;


}



html{
	scroll-behavior: smooth;
}

.wrapper{
	width: 100%;
}

.scroll-button{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 27px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 35px;
	z-index: 3;
}

.hp-index-container{
	z-index: 2;
	width: 100%;
	height: 80vh;

}

.frames-container{
	width: 100%;
	height: 50vh;
	z-index: -1;
	margin-top: 170px;
	display: flex;
	justify-content: space-between;

}

.frame{
	width: 350px;
	height: 350px;
	border-radius: 1%;
}


#frame1{
	background-position: left;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: cover;
}


#frame2{
	background-position: center;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: cover;
}


#frame3{
	background-position: right;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: cover;
}




.hp-title-container p, .hp-title-container h2  {
	font-family: var(--font2);
	color: black;
	display: flex;
	justify-content: center;

}



.hp-title-container{
	width: 100%;
	height: 20vh;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

}


.hp-title-container h1{
	font-family: var(--font1);
	font-size: 200px;
	letter-spacing: 20px;
	-webkit-text-stroke: 1px black;
  	color: transparent;
  	display: flex;
	justify-content: center;
	align-items: center; 
	animation-name: hptext;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1s;
	transition: 0.3s;
}



.social-bar {
    position: fixed;
    top: 30%;
    z-index: 1;
    opacity: 0.8;
    left: 95%;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.6;
        }
        
.social-bar:hover {
          opacity: 1;
        }
        
.social-bar i {
    z-index: 15;
    }

.social-bar a {
	display: block;
    font-size: 14pt;
	width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }
        
.social-bar a:hover {
    color: #fff;
    width: 50px;
    }
        
.link {
    background-color: #34495e;
    color: #fff;
    }
        
.face {
    background-color: #3b5998;
    color: #fff;
    }
        
.insta {
    background-image: linear-gradient(magenta, orange);
    color: #fff;
    }
        
        
/* SECTION */


.first-row-parallax-container, .second-row-parallax-container{
	width: 100%;
	height: 40vh;
	background: var(--color1);
	position: relative;
}

.first-row-parallax, .second-row-parallax{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.first-row-parallax, .second-row-parallax h2{
	font-family: var(--font2);
	line-height: 35px;
}



.section-description-container{
	width: 100%;
	height: 40vh;
	position: relative;
	background: var(--color1);
}


.section-description {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}

.section-description h1{
	text-align: center;
	font-family: var(--font2);
}



.section-photo1 {
	width: 100%;
	height: 100vh;
	background: url(../rsc/video/video-_1_.gif) top fixed;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	overflow: hidden;

}


.disturbe-color{
	background: var(--color1);
	width: 8%;
	height: 100vh;	
}

#disturbe1{
	transform: skew(20deg);
}

#disturbe2{
	transform: skew(30deg);
}


#disturbe3{
	transform: skew(40deg);
}

#disturbe4{
	transform: skew(50deg);
}


.section-photo2 {
	width: 100%;
	height: 100vh;
	background: url('../rsc/video/video-_1_.gif') left fixed;
	background-size: cover;
}



.box-hp-container{
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-around;
	align-items: top;
	background: var(--color1);
	
}

.box-hp{
	width: 20%;
	height: 320px;
	box-shadow: 1px 1px 2px 1px grey;
	position: relative;
	border-radius: 10%;
	background: var(--color2);
	transition: 0.3s

}


.box-hp:hover{
	background:  #b3b3b3;
}



.box-hp h1{
	text-align: center;
	font-family: var(--font2);
	color: black;
	font-size: 25px;
	margin-top: 40px;
	padding-bottom: 10px;
}



.box-hp p{
	text-align: center;
	font-family: var(--font1);
	color: black;
}



.box-img-hp{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	transition: 0.2s;
}


.box-img-hp:hover{
	width: 120px;
	height: 120px;

}


.policy-wrapper{
	width: 100%;
	height: 100px;
	background: var(--color1);
}

.policy{
	width: 20%;
	margin: 0 auto;
	position: relative;

}

.policy h5 {
	text-align: center;
}

.policy:hover{
	text-decoration: underline;
}


.dropdown{
	position: absolute;
	top: 100%;
	right: 5px;
	display: none;
}


.policy-text-container ul li{
	list-style: none; 
}
/* FOOTER */

footer{
	width: 100%;
	height: 30vh;
	background: grey;
	display: flex;
}


.footer-img {
	width: 30%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}



.footer-links {
	width: 70%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;

}


#footer-link1, #footer-link2{
	width: 300px;
	margin: 15px;
	border-top: 1px solid lightgrey;
	font-size: 18px;
	color: black;
	margin: 20px;

}


#p1, #p2{
	font-family: var(--font2);
	font-size: 15px;
	color: lightgrey;
	margin-top: 10px;
}

/* PAGE ABOUT*/

.header-about{
	width: 100%;
	height: 100vh;
	position: relative;
}



#name-about{
	width: 50%;
	height: 15vh;
	display: flex;
	justify-content: left;
	align-items: center;
	background: var(--color1);

}


#name-about h3{
	margin-left: 20px;
	font-size: 16px;
	font-family: var(--font2);
}



.menu-about{
	width: 70%;
	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}


.menu-container-about{
	width: 50%;
	height: 15vh;
	display: flex;
	justify-content: right;
	align-items: center;
	background: var(--color2);

}


.left{
	width: 50%;
	height: 100vh;
	float: left;
	background: var(--color1);
}


.right{
	width: 50%;
	height: 100vh;
	float: left;
	background: var(--color2);

}



.about-text-container{
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}


.about-text-container img{
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%, -50%);
}


.about-text-container h2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font1);
	font-size: 60px;


}

.bigtext-container{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: serif;
	font-size: 100px;
	-webkit-text-stroke: 1px white;
  	color: transparent;
  	letter-spacing: 65px;
  	position: fixed;
  	z-index: 1;
}




.about-section-title{
	text-align: left;
	font-family: var(--font2);
	padding-top: 150px;
	padding-left: 80px;
	font-size: 40px;

}


.section-about{
	background: var(--color1);
	height: 260vh;
	z-index: 4;
}




.history-container{
	width: 50%;
	margin: 0 auto;
	margin-top: 20%;
	margin-bottom: 20%;
	position: relative;
}


.square1, .square2, .square3{
	width: 100%;
	height: 300px;
	margin: 0 auto;
}


.square1{
	position: relative;
	border-top: 3px black dotted;
	border-right: 3px black dotted;
	
}

.square2{
	position: relative;
	border-top: 3px black dotted;
	border-left: 3px black dotted;
}


.square3{
	position: relative;
	border-top: 3px black dotted;
	border-right: 3px black dotted;

}


.insquare-elements-container{
	width: 80%;
	margin: 0 auto;
}



.in-square1, .in-square2, .in-square3, .in-square4{
	width: 400px;
	height: 400px;
	background: var(--color2);
	text-align: center;
	padding: 5px;
	font-family: var(--font1);
	border-radius: 10%;
	z-index: 3;
}


.in-square1{	
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);

}

.in-square2{
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translate(50%, 50%);
	z-index: 1;
}


.in-square3{
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(-50%, 50%);
	z-index: 1;
}

.in-square4{
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translate(50%, 50%);
	z-index: 1;
}



.history-container i, .history-container h1, .history-container p, .history-container audio {
	padding-top: 5px;
}

.history-container audio {
	padding-top: 30px;
	width: 50%;

}


.container-button{
	width: 50%;
	height: 50px;
	background: #af8d86;
	margin: 0 auto;
	margin-top: 20px;

}

.container-button button{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 18px;
	background: lightgrey;
	cursor: pointer;
	opacity: 0.8;

}


button:hover{
	background: var(--color1);
	opacity: 1;
}


/* PAGE SKILLS*/

.skills-header{
	width: 100%;
	height: 100vh;
	background: var(--color2);
	position: relative;
}


.point {
	position: absolute;
	background: black;
	height: 14px;
	width: 14px; 
	z-index: 1;
	border-radius: 50%;
	animation-name: movingPoint;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

}

.skills-text{
	width: 100%;
	height: 30vh;
	text-align: center;
	font-family: var(--font1);
	background: var(--color2);
	padding: 30px;
	letter-spacing: 1px;
	z-index: -1;
}



.Iam-container{
  width: 50%;
  height: 200px;
  font-size:26px;
  font-family: var(--font1);
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 450px;


}

 #flip  {
  padding: 25px 25px;
  background: black;
  color: var(--color1);
  top: 50%;
  margin-left: 50px;
  height: 22px;
}

#flip > p:first-child {
 animation: show 3s linear infinite;
}


.skills-wave{
	width: 100%;
	height: 60vh;
	background: black;
	
}


#wave1 {
  background: var(--color2);
}
#wave2 {
  background: var(--color1);
}

svg {
  width: 100%;
  height: 20vh;
}

svg path {
  fill: var(--color2);
}

svg rect {
  fill: var(--color1);
}

.container-wave {
  --divider-height: 4rem;
  position: relative;
  top: calc( var(--divider-height)/1 * -1 );
  height: var(--divider-height);
  width: 100%;
  float: left; 
  z-index: 1;
}

#A, #B {
  padding: 3rem;
}
div {
  font-family: var(--font1);
  font-size: 1.2rem;
  line-height: 1.2;
}





.skills-section{
	width: 100%;
	height: 110vh;
	background: var(--color1);
}


.skills-section2{
	width: 100%;
	height: 330vh;
	background: var(--color2);

}

.carousel{
	width: 80%;
	position: relative;
	margin: 0 auto;
	opacity: 0.6;
	z-index: 4;
}

.arrow{
	width: 50px;
	height: 60px;
	font-size: 50px;
	position: absolute;
	text-align: center;
	cursor: pointer;
	z-index: 4;
	font-family: Rubik;

}

.arrow i{
	z-index: 5;
	font-size: 50px;

}

.arrowSX{
	top: 50%;
	left: 5%;
}

.arrowDX{
	top: 50%;
	right: 5%;
}

.diapositiva{
	display: none;

}

.slider-text {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 50%;
    padding: 2em;
    background: rgba(0, 0, 0, .3);
    height: 600px;
}


.slider-text h2, .slider-text p{
	width: 100%;
	margin-left: 270px;
	margin-top: 300px;
	color: black;
	text-align: center;

}

.slider-text p{
	width: 100%;
	margin-left: 270px;
	margin-top: 120px;
	color: black;
	text-align: center;
	margin-top: 0px;
}

.diapositiva.activa{
	display: block;
}

.diapositiva img{
	width: 100%;
	height: 600px;	
}


.container-wave2 {
  --divider-height: 4rem;
  position: relative;
  top: calc( var(--divider-height)/1 * -1 );
  height: var(--divider-height);
  width: 100%;
  float: left; 
  z-index: 1;
}




.languages-table-container{
	width: 100%;
	text-align: center;
	font-family: var(--font1);
	padding-bottom: 90px;
	z-index: 8;
}

.languages-table-container h1{
	padding-top: 40px;
}

table {
  border-collapse: collapse;
  width: 70%;
  font-family: var(--font1);
  margin: 0 auto;
  box-shadow: 1px 1px 4px 1px black;
 
}


table, th, td {
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid darkgrey;


}

th{
	background: #a9a9a9;

}

td{
	background: var(--color1);
}


.skills-icons-container{
	width: 80%;
	height: 140vh;
	z-index: 2;
	margin: 100px auto;
	background: var(--color1);

}

.skills-icons-container h1{
	text-align: center;
	margin-bottom: 50px;
}


.box-icons-wrapper{
	width: 80%;
	height: 40vh;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

}

.box-skill{
	width: 180px;
	height: 180px;
	box-shadow: 1px 2px 3px black;
	z-index: 4;
	transition: 0.2s;
	background: url('../rsc/img/skills box.jpg') center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-skill p{
	text-align: center;
	margin-top: 40%;
	font-weight: bold;
	background: var(--color1);
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.2s;

}

.box-skill:hover{
	border-radius: 50%;
	border: 1px dotted black;
	font-size: 22px;
	text-decoration: bold;
}

.box-skill p:hover{
	border-radius: 40%;
}



.list-skills-container{
	width: 80%;
	height: 580px;
	background: url('../rsc/img/skills box.jpg');
	margin: 0 auto;
	margin-top: 120px;
	z-index: 10;
	position: relative;
}

.list-skills{
	margin: 0 auto;
	background-color: var(--color1);
	width: 90%;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list-skills ol{
	margin: 0 auto;
	line-height: 40px;
	padding-left: 80px;
	padding-right: 80px;
}


.list-skills h1{
	padding-top: 20px;
}




/* PAGE CONTACTS */


.header-contacts{
	width: 100%;
	height: 120vh;
	background: var(--color2);
	position: relative;
}

.all-contacts-container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin-top: 40px;
}


#form{
	width: 50%;
	height: 70%;
	background: var(--color1);
	border-radius: 8px;
	box-shadow: 0 0 5px grey;
	text-align: left;

}

#form h2, #form h5{     
	border-bottom: 1px dashed grey;
	color: black;
	font-size: 24px;
	margin: 10px 26px;
	padding: 8px;
	font-family: var(--font1);
}

#form fieldset{
	margin: 0;
	padding: 10px;
	border: none;       
	margin-left: 6px;
}


#form label{
	display: block;
	color: grey;
	margin-bottom: 1px;
	margin: 0;
	padding: 10px;
	border: none;       
	margin-left: 26px;
	float: left;
}

#check label{
	color: grey;
	border: none;       
	margin-left: 6px;
}

#form input{
	float: left;
	margin: 10px;
}

#check label{
	display: inline;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 5px;
}

#email{
	float: left;
}


#form input, #form textarea{
	font: 13px;
	color: grey;
	border: none;
	border-radius: .3em;        
	background-color: white;
	padding: 8px;
	margin: 20px;
	color: black;
}



#form input:focus, #form textarea:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
	background: white;
	color: #333;
}

                                

#form .submit{
	clear:both;
	padding: 15px 25px 20px;
	margin-right: 20px;
	float: right;
}


#form button{
	width: 120px;
	line-height: 38px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	border: solid 1px darkgrey;
	border-radius: 5px;
	background-color: grey;  
	color: var(--color2);
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}


#form button:hover {
	border-color: grey;
	box-shadow: none;

}

#form button:active {
	background-image: linear-gradient(darkgrey, #D3D3D3);
	border-bottom: 1px solid black;
}


.contact-text-container{
	width: 30%;
	height: 70vh;
	background: var(--color1);
	display: flex;
	justify-content: center;
	align-content: center;
	animation-name: contactMove;
	animation-duration: 1s;
	animation-iteration-count: 1;
	box-shadow: 0 0 5px grey;

}

.contact-text-container:hover{
	transform: rotate(180deg);
	transition: 1s;

}

.contact-text-container div{
	text-align: center;
	margin: 70px;
}

.contact-text-container i{
	font-size: 60px;
	margin-top: 25px;
}





/* PAGE LEGAL */

.header-policy{
	height: 230vh;
	width: 100%;
	background: var(--color1);
}

.policy-text-container{
	width: 90%;
	text-align: justify;
	margin: 0 auto;
}


.policy-text-container h1 {
	line-height: 150px;
}

.policy-text-container p{
	line-height: 25px;
}

/* CITIES - SKILLS */

.header-cities{
	height: 180vh;
	width: 100%;
	background: var(--color1);
}

.city-title{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	font-family: serif;
	font-size: 60px;
  	letter-spacing: 60px;
  	padding: 10px;

}

.city-title hr{
	width: 5%;
	height: 10px;
	margin-left: 10%;
	background:  #10100f;
	transition: 1s;
}



.city-title hr:hover{
	width: 80%;
	height: 6px;
}

.napoli-container{
	width: 70%;
	height: 90vh;
	z-index: 5;
	margin: 0 auto;
	margin-top: 290px;
	position: relative;
	background: var(--color1);

}



.napoli-box1,  .napoli-box3{
	width: 390px;
	height: 390px;
	background: var(--color1);
	position: absolute;
}

.napoli-box2, .napoli-box4{
	width: 390px;
	height: 390px;
	background: var(--color1);
	position: absolute;
}

.napoli-box1{
	left: 50px;
	top: 50px;
	transform: translate(-50%, -50%);

}


.napoli-box2{
	right: 50px;
	top: 50px;
	transform: translate(50%, -50%);
}


.napoli-box3{
	left: 50px;
	top: 100%;
	transform: translate(-50%, -50%);
}


.napoli-box4{
	right: 50px;
	top: 100%;
	transform: translate(50%, -50%);
}


.in-box{
	width: 240px;
	height: 240px;
	background: var(--color1);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 3px 2px 2px #989898;
	z-index: 1;
	border-radius: .25rem;
}


#citybox-1{
	transition: 1s;
}

#citybox-2{
	transition: 1s;
}

#citybox-3{
	transition: 1s;
}

#citybox-4{
	transition: 1s;
}


#citybox-1:hover{
	transform: rotate(60deg);
}



#citybox-2:hover{
	transform: rotate(120deg);

}

#citybox-3:hover{
	transform: rotate(-60deg);
}

#citybox-4:hover{
	transform: rotate(20deg);
}



.hidden-box{
	width: 310px;
	height: 310px;
	background: var(--color2);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 1px 5px 1px darkgrey;
	border-radius: .25rem;	

}

.hidden-box img, .hidden-box iframe{
	padding: 10px;
	margin: 35px;
}


.in-box h3{
	text-align: center;
	margin-top: 70px;
	font-family: var(--font2);
}

.in-box p{
	text-align: center;
	margin-top: 10px;
}


.hidden-box h3, .hidden-box p{
	text-align: center; 
	padding: 40px;
}


.city-section{
	background: var(--color2);
	width: 100%;
	height: 120vh;
	position: relative;
}


.city-text-container{
	width: 70%;
	height: 480px;
	background: url(../rsc/img/plants.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid grey;
}


.city-text-title{
	width: 35%;
	height: 70px;
	background: var(--color1);
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


.city-text-title h2{
	margin-top: 18px;
	font-family: var(--font2);
}

.city-text-paragraph{
	width: 70%;
	height: 300px;
	background: var(--color1);
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.city-text-paragraph p{
	margin: 20px;
	line-height: 20px;
	text-align: justify;
}


.next-na{
	width: 50px; 
	height: 50px;
	background: grey;
	position: absolute;
	top: 85%;
	left: 90%;
	border-radius: 50%;
}

.next-na i{
	margin: 8px;
	font-size: 50px;
}

/* MEDIA QUERIES */

@media screen and (orientation: landscape){	

}

@media only screen and (min-width: 768px) and (max-width: 959px){

/* HP MOBILE */

.menu ul li, .menu-about ul li{
	font-family: var(--font2);
	font-size: 15px;
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	transition: 0.2s;
}



.hp-header {
	height: 80vh;
}

.scroll-button{
	margin: 20px;
	font-size: 30px;
}


.frame{
	width: 110px;
	height: 280px;

}


#frame1{
	background-position: left;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: 100% 100%;
}


#frame2{
	background-position: center;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: 100% 100%;
}


#frame3{
	background-position: right;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: 100% 100%;
}


.hp-title-container p, .hp-title-container h2  {
	font-family: var(--font1);
	color: black;
	display: flex;
	justify-content: center;

}


.hp-title-container{
	width: 100%;
	height: 10vh;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.hp-title-container h1{
	font-size: 50px;
	letter-spacing: 10px;
	animation-name: hptextMobile;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1s;
	transition: 0.3s;
}


.social-bar {
    position: fixed;
    top: 30%;
    z-index: 1;
    opacity: 0.8;
    left: 88%;
}
        
        
/* SECTION */


.first-row-parallax-container, .second-row-parallax-container{
	height: 30vh;
}


.first-row-parallax-container h2, .second-row-parallax-container h2{
	font-size: 25px;
}

.section-description-container{
	height: 30vh;
}


.section-photo1 {
	height: 30vh;
	background: url(../rsc/video/video-_1_.gif) fixed;
	background-size: 120% 120%;

}


.disturbe-color{
	background: var(--color1);
	width: 5%;
	height: 30vh;	
}

#disturbe1{
	transform: skew(10deg);
}

#disturbe2{
	transform: skew(20deg);
}


#disturbe3{
	transform: skew(30deg);
}

#disturbe4{
	transform: skew(40deg);
}


.section-photo2 {
	width: 100%;
	height: 40vh;
	background: url('../rsc/video/video-_1_.gif') fixed;
	background-size: 100% 100%;
}



.box-hp-container{
	height: 120vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: var(--color1);
	
}

.box-hp{
	width: 70%;
	height: 250px;
}


.box-hp p{
	text-align: center;
}


.box-hp img{
	width: 80px;
	height: 80px;
	margin-top: 10px;
}

.box-img-hp{
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	transition: 0.2s;
}

.box-img-hp:hover{
	width: 90px;
	height: 90px;
}




.policy{
	width: 40%;
	padding-top: 30px;
	margin: 0 auto;
	position: relative;

}


/* FOOTER MOBILE */

footer{
	height: 50vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.footer-img {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}


.footer-links {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-direction: column;
	text-align: center;

}


#footer-link1, #footer-link2{
	width: 300px;
	margin: 10px;
	font-size: 15px;
	margin: 15px;

}


/* PAGE ABOUT MOBILE */

.header-about{
	width: 100%;
	height: 60vh;
	position: relative;
}



.left{
	height: 60vh;
}


.right{
	height: 60vh;

}



.about-text-container{
	margin-top: 100px;
	width: 100%;
	height: 60vh;
}


.about-text-container img{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 20%;
	left: 15%;
	transform: translate(-50%, -50%);
}


.about-text-container h2{
	font-size: 40px;
	width: 90%;
	text-align: center;
}

.bigtext-container{
	font-size: 40px;
  	letter-spacing: 15px;
}




.about-section-title{
	padding-top: 180px;
	font-size: 30px;
	text-align: center;
	padding-left: 0px;

}


.section-about{
	width: 100%;
	height: 280vh;
}


.history-container{
	width: 50%;
	margin: 0 auto;
	margin-top: 50%;
	margin-bottom: 20%;
	position: relative;
}


.square1, .square2, .square3{
	width: 80%;
	height: 380px;
	margin: 0 auto;
}

.insquare-elements-container{
	margin-top: 5px;

}


.in-square1, .in-square2, .in-square3, .in-square4{
	width: 200px;
	height: 250px;
}



.history-container audio {
	width: 100%;
}

.history-container i{
	font-size: 40px!important;
}

.history-container h1{
	font-size: 25px;
	text-align: center;
}

.history-container p{
	display: none;
}


.history-container i, .history-container h1, .history-container p, .history-container audio {
	padding-top: 15px;
}

.container-button{
	width: 80%;
	height: 40px;
	margin-top: 10px;
}

.container-button button{
	font-size: 16px;
}

/* PAGE SKILLS MOBILE*/

.skills-header{
	height: 80vh;
}


.point {
	animation-name: movingPointMobile;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

}



.Iam-container{
  width: 90%;
  height: 200px;
  font-size:26px;
  margin-left: 10px;
}


svg {
  width: 100%;
  height: 10vh;
}

#flip{
  padding: 18px 18px;
  top: 50%;
  margin-left: 20px;

}


.skills-section{
	height: 60vh;
}


.skills-section2{
	height: 440vh;

}

.carousel{
	width: 100%;
}


.slider-text {
    height: 400px;
}


.slider-text h2{
	margin-left: 0px;
	margin-top: 0px;

}

.slider-text p{
	width: 100%;
	margin-left: 0px;

}

.diapositiva.activa{
	display: block;
}

.diapositiva img{
	width: 100%;
	height: 400px;	
}


table{
	z-index: 4;
}

.languages-table-container{
	font-size: 15px;
}

.skills-icons-container{
	width: 100%;
	height: 120vh;
	margin-top: 10px;
}

.skills-icons-container h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 5px;
}


.box-icons-wrapper{
	width: 100%;
	height: 40vh;
	display: flex;
	align-content: center;
	justify-content: space-around;

}

.box-skill{
	width: 90px;
	height: 180px;
	transition: 0.2s;

}

.box-skill p{
	text-align: center;
	margin-top: 65%;
	transform: rotate(90deg);
	background: transparent;
}

.box-skill:hover{
	border-radius: 0%;

}

.box-skill p:hover{
	text-align: center;
	margin-top: 65%;
	transform: rotate(90deg);
}

.list-skills-container{
	margin-top: 100px;
	height: 1000px;
}

.list-skills{
	width: 90%;
	height: 850px;

}

.list-skills ol{
	line-height: 30px;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 15px;
}

.list-skills h1{
	padding-top: 0;
}


/* PAGE CONTACTS MOBILE */


.header-contacts{
	height: 220vh;
}

.all-contacts-container{
	height: 180vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: column-reverse;
}


#form{
	width: 90%;
	height: 120vh;
	text-align: center;
	margin: 0 auto;
}



#form input, #form textarea{
	font: 13px;
	color: grey;
	border: none;
	border-radius: .3em;        
	background-color: #F7F7F7;
	padding: 8px;
	margin: 20px;
	color: black;
	width: 40%;
}




.contact-text-container{
	width: 80%;
	height: 55vh;
	background: #d3d3d3;
	display: flex;
	justify-content: center;
	margin: 0 auto;

}

.contact-text-container:hover{
	transform: rotate(180deg);
	transition: 1s;

}

.contact-text-container div{
	text-align: center;
	margin: 20px;
}

.contact-text-container i{
	font-size: 60px;
	margin-top: 25px;
}




/* PAGE LEGAL MOBILE */

.header-policy{
	height: 450vh;
}


.policy-text-container h1 {
	line-height: 50px;

}

.policy-text-container p{
	line-height: 25px;
		margin-top: 10px;
}


/* CITIES SKILLS MOBILE */


.header-cities{
	height: 40vh;
	width: 100%;
	background: #d3d3d3;
}

.city-title{
	width: 100%;
	height: 50px;
	font-size: 30px;
  	letter-spacing: 8px;
  	padding: 10px;

}



.napoli-container{
	width: 70%;
	height: 30vh;
	margin-top: 150px;


}


.napoli-box1,  .napoli-box3{
	display: none;
}

.napoli-box2, .napoli-box4{
	display: none;
}



.city-section{
	width: 100%;
	height: 150vh;
}


.city-text-container{
	width: 90%;
	height: 100vh;
	background: url(../rsc/img/plants.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
}


.city-text-title{
	width: 60%;
	height: 200px;
	background: #d3d3d3;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


.city-text-title h2{
	margin: 10px;
}

.city-text-paragraph{
	width: 90%;
	height: 70vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.city-text-paragraph p{
	margin: 10px;
	line-height: 20px;
}


.next-na{
	position: absolute;
	top: 85%;
	left: 70%;

}



}


/* ANIMACIONES */


@keyframes hpTextAppearTWO {	
	0% {-webkit-text-stroke: 1px transparent;}	
	50% {-webkit-text-stroke: 1px transparent;}
	100% {-webkit-text-stroke: 1px black;}
}


@keyframes hptext {
	0% {font-size: 20px;}	
	100% {font-size: 200px;}
}

@keyframes hptextMobile {
	0% {font-size: 10px;}	
	100% {font-size: 50px;}
}



@keyframes movingPoint {
	0% {left: 0%;
		top: 10vh;
		display: none;}
	
	25% {left: 49.7%;
		top: 10vh;
		background: black;}

	50% {left: 49.7%;
		top: 10vh;}

	100% {left: 49.7%;
		top: 19.4vh;
		background: #af8d86;}
}


@keyframes movingPointMobile {
	0% {left: 0%;
		top: 10vh;
		display: none;}
	
	25% {left: 48.7%;
		top: 10vh;
		background: black;}

	50% {left: 48.7%;
		top: 10vh;}

	100% {left: 48.7%;
		top: 19.7vh;
		background: #af8d86;}
}


@keyframes contactMove {
	0% {transform: rotate(90deg);}
	100% {transform: rotate(0deg);}
}



@keyframes show {
  0% {margin-top:30px;}
  5% {margin-top:30px;}
  20% {margin-top:-8px;}
  25% {margin-top:-8px;}
  40% {margin-top:-60px;}
  45% {margin-top:-60px;}
  60% {margin-top:-120px;}
  65% {margin-top:-120px;}
  95% {margin-top:-140px;}
  100% {margin-top:-140px;}
}

